@model AutotuneWeb.Models.AutotuneResults
@{
    Layout = null;
}

<html>
<head>
    <title>Autotune Results</title>
</head>
<body style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 14px; color: rgb(51, 51, 51);">
    <h1>Autotune Results</h1>
</body>
</html>