@model string

@{
    Layout = null;
}

<html>
<head>
    <title>Autotune Results</title>
</head>
<body style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: 14px; color: rgb(51, 51, 51);">
    <h1>Autotune Error</h1>
    <p>Sorry, an error occurred while running Autotune.</p>
    <p>
        Sometimes, re-running the job might get it to work on the second try. If it still fails there's probably something else going wrong,
        so try reaching out on Facebook for help. When you post to Facebook, make sure to include a screenshot of your log (attached to this email). 
    </p>
    <p>
        This job was run with Autotune version <a href="https://github.com/openaps/oref0/tree/@Model">@Model</a>
    </p>
</body>
</html>
