@model Job

<h1>Job Expired</h1>
<p>
    Sorry, the results for this job are no longer available. Job details are deleted automatically after 30 days. Please re-run the job
    to obtain new results.
</p>
