@model string

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Autotune</h1>
    <p class="lead">
        <strong>Step 1</strong> - ensure your Nightscout profile is up to date [<a href="@Url.Action("About")#profile">why?</a>]<br/>
        <strong>Step 2</strong> - enter your Nightscout site URL to get started
    </p>
    @using (Html.BeginForm("Autotune", "Home"))
    {
        <div class="form-group">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="fa fa-globe"></i>
                </span>
                <input type="url" class="form-control" id="NSUrl" name="NSUrl" placeholder="https://mynightscout.azurewebsites.net/" style="max-width: 100%" value="@Model" />
                <span class="input-group-btn">
                    <button class="btn btn-primary">Start &raquo;</button>
                </span>
            </div>
        </div>

        @Html.ValidationMessage("NSUrl")
    }
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Autotune</h2>
        <p>
            Autotune is a system that recommends changes to your basal rate, insulin:carb ratio and insulin sensitivity factor based on the data
            recorded in Nightscout.
        </p>
        <p><a class="btn btn-default" href="https://openaps.readthedocs.io/en/latest/docs/Customize-Iterate/autotune.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About AutotuneWeb</h2>
        <p>
            AutotuneWeb aims to make the process of running Autotune easier by generating an Autotune-compatible profile automatically based on
            your Nightscout profile, and even run Autotune for you in the cloud and email you the results.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p>
            For help with Autotune generally or AutotuneWeb in particular, first read the AutotuneWeb FAQs. If your question is not answered there, reach out in the <a href="https://openaps.readthedocs.io/en/latest/docs/Understanding%20OpenAPS-Overview/communication-support-channels.html#facebook">regular Facebook groups</a> or <a href="https://gitter.im/openaps/autotune">Gitter channel</a>. Make sure you note that you are using AutotuneWeb, and include screenshots of your logs.
        </p>
    </div>
</div>
