@model int
@{ 
    ViewBag.Title = "Autotune Running";
}

<h1>Autotune Running</h1>

<p>
    Thank you, your job has been accepted.
</p>

@if (Model <= 1)
{
    <p>Your job is the only one in the queue, it should start processing very soon.</p>
}
else
{
    <p>There are now <span style="font-size: 2em">@Model</span> jobs waiting to be processed (including yours). Please be patient and you will get your results by email as soon as it is complete.</p>
}