@model int
@{ 
    ViewBag.Title = "Autotune Running";
}

<h1>Autotune Running</h1>

<p>
    Thank you, your job has been accepted and is position <span style="font-size: 2em">@Model</span> in the queue. 
</p>